<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<a href="/home"> Home </a>
<a href="/quizzes"> Quizzes </a>
<p> Creador 1: Javier Cruz Salaverri
	Creador 2: Javier Perez Rubio
</p>
<p>
    <img src="images/credits.png" alt="Autores de la práctica">
</p>
</body>
</html>
